<footer class="item">
    <!-- <span class="copyleft">©</span> Copyleft - {{ site.title | escape }} {{ 'now' | date: "%Y" }} - subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a> -->
</footer>
<script>
   $(document).ready(function(){
    // array of file paths
    var scripts = [
        '/assets/heads/1.js',
        '/assets/heads/2.js',
        '/assets/heads/3.js',
        // '/assets/heads/4.js',
        // '/assets/heads/5.js',
        // '/assets/heads/6.js',
        // '/assets/heads/7.js',
        // '/assets/heads/8.js',
        // '/assets/heads/9.js',
        // '/assets/heads/10.js'
    ];

    // check if script path is already stored in sessionStorage
    var scriptPath = sessionStorage.getItem('scriptPath');

    if (!scriptPath) {
        // if not, randomly select a path from the array
        scriptPath = scripts[Math.floor(Math.random() * scripts.length)];
        // store the path in sessionStorage
        sessionStorage.setItem('scriptPath', scriptPath);
    }

    // create a script element
    var script = document.createElement('script');
    // set the source to the selected/stored path
    script.src = scriptPath;
    // append the script to the head of the document
    document.getElementsByTagName('head')[0].appendChild(script);

  $('header nav ul li:first-child').attr('id', 'nav-home');
  $(document).on('click', '#nav-home', function() {
    sessionStorage.clear();
    var scriptPath = sessionStorage.getItem('scriptPath');

    if (!scriptPath) {
        scriptPath = scripts[Math.floor(Math.random() * scripts.length)];
        sessionStorage.setItem('scriptPath', scriptPath);
    }
    var script = document.createElement('script');
    script.src = scriptPath;
    document.getElementsByTagName('head')[0].appendChild(script);
  });

});
</script>
<script>
  window.addEventListener("load", function () {
    const preloader = document.getElementById("preloader");
    preloader.style.display = "none";
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.body.style.opacity = 0;
    document.body.style.transition = "opacity 200ms";
    setTimeout(function() {
      document.body.style.opacity = 1;
    }, 100);

    var altoImagen = $(".filtered").height();
    $(document).mousemove(function(event){
    $(".filtered").offset({
      left: event.pageX + 20,
      top: event.pageY - altoImagen / 2
    });
  });
  });
  </script>
