<header class="item">
        <nav>
          {% if page.layout == 'info' %}
          <ul id="info-breadcrumb">
            <li><a href="/" onclick="fadeOut()">..</a></li>
            <li><span aria-current="page">Info</span></li>
          </ul>
          {% else %}
          <ul>
          {% for item in site.navigation %}
              {% unless item.url == page.url %}
              <li><a href="{{ item.url }}" onclick="fadeOut()">{{ item.title }}</a></li>
              {% endunless %}
          {% endfor %}
          </ul>
          {% endif %}
        </nav>
  </header>

 