@font-face {
    font-family: 'Atlas';
    src: url('Atlas-Light.woff2') format('woff2'),
        url('Atlas-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlas';
    src: url('Atlas-Medium.woff2') format('woff2'),
        url('Atlas-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

